/* Mini LoveHeartDengdeng - 50px version */
.loveheartdengdeng-container {
    display: inline-flex;  /* Changed to inline-flex for better inline placement */
    justify-content: center;
    align-items: center;
    height: 60px;         /* Compact container */
    width: auto;          /* Auto width for inline placement */
  }
  
  .loveheartdengdeng-heart {
    position: relative;
    width: 50px;          /* Mini heart size */
    height: 50px;         /* Mini heart size */
    transform: rotate(45deg);
    background-color: crimson;
    animation: loveheartdengdeng-pulse 1s infinite;
  }
  
  /* Pseudo-elements for the circular parts */
  .loveheartdengdeng-heart::after,
  .loveheartdengdeng-heart::before {
    content: '';
    position: absolute;
    width: 50px;          /* Mini size */
    height: 50px;         /* Mini size */
    border-radius: 50%;
    background-color: crimson;
    animation: loveheartdengdeng-pulse 1s infinite;
  }
  
  .loveheartdengdeng-heart::after {
    top: 0;
    left: -25px;         /* Adjusted position */
  }
  
  .loveheartdengdeng-heart::before {
    top: -25px;          /* Adjusted position */
    left: 0;
  }
  
  @keyframes loveheartdengdeng-pulse {
    0%, 100% {
      width: 50px;
      height: 50px;
      background-color: crimson;
    }
    10% {
      width: 53px;
      height: 53px;
    }
    20% {
      width: 58px;
      height: 58px;
      background-color: #ef3953;
    }
    30% {
      width: 55px;
      height: 55px;
    }
    40% {
      width: 52px;
      height: 52px;
      background-color: crimson;
    }
    60% {
      width: 48px;
      height: 48px;
    }
    80% {
      width: 51px;
      height: 51px;
    }
  }