/* TravelDetailsSecond.css */
.traveldsecond-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .traveldsecond-box {
    /* 弹性布局 使页面元素水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 使页面占屏幕总高 */
    height: 500px;
    /* 背景的渐变色 */
    background-image: linear-gradient(rgb(24rgb(158, 154, 154)47, 247), #f78);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .traveldsecond-list {
    width: 1000px;
    height: 420px;
    /* 溢出隐藏 */
    overflow: hidden;
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 10px;
  }
  
  .traveldsecond-item {
    /* 相对定位 */
    position: relative;
    float: left;
    width: 200px;
    height: 420px;
    transition: all 0.5s;
  }
  
  .traveldsecond-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .traveldsecond-title {
    /* 绝对定位 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    margin: 0;
  }
  
  .traveldsecond-item:hover .traveldsecond-title {
    font-size: 20px;
  }
  
  .traveldsecond-list:hover .traveldsecond-item {
    width: 90px;
  }
  
  .traveldsecond-list:hover .traveldsecond-item:hover {
    width: 640px;
  }
  
  /* Reset some default styles */
  .traveldsecond-list,
  .traveldsecond-item,
  .traveldsecond-title {
    padding: 0;
    margin: 0;
  }