.traveldetailsseventh-container {
    position: relative;
    max-width: 1200px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    min-height: 600px;
    /* background: #f5f5f5; */
    /* box-shadow: 0 30px 50px #dbdbdb; */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.traveldetailsseventh-slide .traveldetailsseventh-item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(1),
.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(3) {
    left: 50%;
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(4) {
    left: calc(50% + 220px);
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(5) {
    left: calc(50% + 440px);
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.traveldetailsseventh-item .traveldetailsseventh-content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.traveldetailsseventh-slide .traveldetailsseventh-item:nth-child(2) .traveldetailsseventh-content {
    display: block;
}

.traveldetailsseventh-content .traveldetailsseventh-name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: traveldetailsseventh-animate 1s ease-in-out 1 forwards;
}

.traveldetailsseventh-content .traveldetailsseventh-des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: traveldetailsseventh-animate 1s ease-in-out 0.3s 1 forwards;
}

.traveldetailsseventh-content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
    color: #ffffff;
    animation: traveldetailsseventh-animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes traveldetailsseventh-animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.traveldetailsseventh-button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.traveldetailsseventh-button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    background-color: transparent;
    /* border: 0px solid #000; */
    transition: 0.3s;
}

.traveldetailsseventh-button button:hover {
    background: #ababab;
    color: #fff;
}
