/* src/components/UI/Span/Span.module.css */


/* #region start 基础样式 */
.span {
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--font-weight);
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  text-decoration: none;
  /* 移除其他文本装饰线 */
  padding: 0px 8px;;
  font-size: var(--font-size);
  min-height: var(--min-height);
  background: var(--background-color);
  color: var(--font-color);
  border: var(--border) solid var(--border_color);
}

/* #endregion end */

/* #region start 悬浮样式 */
.span:hover:not(:disabled) {
  background: var(--hover_background-color);
  border-color: var(--hover_border_color);
  color: var(--hover_font-color);
  transform: translateY(-1px);
 
}

/* #endregion end */

/* #region start 选用，获得焦点样式 */
.span:active:not(:disabled) {
  background: var(--focus_background-color);
  border-color: var(--focus_border_color);
  color: var(--focus_font-color);
  transform: translateY(-1px);
}

/* #endregion end */

/* #region start 不可用样式 */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* #endregion end */




