/* src/pages/modules/ModuleLayout.module.css */
.moduleLayout {
  width: 100%;
  height: 100%;
}
/* 桌面端布局 - 默认显示 */
.desktopLayout {
  display: block;
}
.mobileLayout {
  display: none;
}

/* 平板和手机端 (1024px 及以下) */
@media (max-width: 1024px) {
  .desktopLayout {
    display: none;
  }
 
  .mobileLayout {
    display: block;
  }
}