.ball-loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1; /* 确保作为背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-loading-circle {
  width: 20px;
  height: 20px;
  background-color: rgba(55, 199, 55, 0.5);
  border-radius: 50%;
  box-shadow: -60px 0 0 rgb(5, 194, 68);
  animation: ball-loading-spin 1s ease-in-out infinite alternate;
}

@keyframes ball-loading-spin {
  0% {
    opacity: 0.35;
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
  }
}