/* Sea */
.nauticalbackground-sea {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nauticalbackground-sea .nauticalbackground-surface {
    width: 100%;
    height: 100%;
    background-color: #2be3fa;
    position: absolute;
    overflow: hidden;
    animation: nauticalbackground-surface 13s ease-in-out infinite alternate, nauticalbackground-rotateZ 20s linear infinite;
}

/* Ship */
.nauticalbackground-ship {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-30px 40px 0 rgba(0, 0, 0, 0.1));
}

.nauticalbackground-ship .nauticalbackground-rotate {
    transform: rotateZ(10deg);
    animation: nauticalbackground-ship 30s linear infinite alternate;
}

/* Luffy */
.nauticalbackground-ship .nauticalbackground-human {
    position: absolute;
    left: 40px;
    top: 0;
}

.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-hat {
    width: 30px;
    height: 30px;
    background-color: #f0f09e;
    border-radius: 100%;
    animation: nauticalbackground-hat 1s ease-in-out infinite alternate;
}

.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-hat::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #d9845d;
    border-radius: 100%;
    position: absolute;
    left: 7px;
    top: 7px;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

/* Legs */
.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-leg {
    width: 20px;
    height: 8px;
    background-color: #0849a3;
    border-radius: 40%;
    position: absolute;
}

.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-leg::before {
    content: "";
    width: 5px;
    height: 7px;
    background-color: #fff;
    border-radius: 40%;
    position: absolute;
}

.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-leg.nauticalbackground-left {
    left: -10px;
    top: 16px;
    transform: rotateZ(-5deg);
}

.nauticalbackground-ship .nauticalbackground-human .nauticalbackground-leg.nauticalbackground-right {
    left: -10px;
    top: 6px;
    transform: rotateZ(5deg);
}

/* Ship body */
.nauticalbackground-ship .nauticalbackground-body {
    position: relative;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-base {
    width: 100px;
    height: 30px;
    background-color: #d9845d;
    border-radius: 45%;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-base::before {
    content: "";
    width: 96px;
    height: 26px;
    background-color: #dead5e;
    position: absolute;
    border-radius: 45%;
    left: 2px;
    top: 2px;
}

/* Boards */
.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-board {
    width: 10px;
    height: 20px;
    background-color: #d9845d;
    border-radius: 2px;
    position: absolute;
    top: 5px;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-board.nauticalbackground-front {
    right: 20px;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-board.nauticalbackground-back {
    left: 20px;
}

/* Waves */
.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves {
    position: absolute;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-wave {
    position: absolute;
    animation: nauticalbackground-wave 2s linear infinite;
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-wave .nauticalbackground-graphic {
    background-color: #fff;
    animation: nauticalbackground-surface 2s ease-in-out infinite alternate, nauticalbackground-rotateZ 6s linear infinite;
}

/* Body waves */
.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-bodywaves .nauticalbackground-wave {
    left: var(--left);
    top: var(--top);
    animation-delay: calc(var(--delay) * -1);
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-bodywaves .nauticalbackground-wave .nauticalbackground-graphic {
    width: var(--width);
    height: var(--height);
}

/* Oar waves */
.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-oarwaves .nauticalbackground-wave {
    left: var(--left);
    top: var(--top);
    animation-delay: calc(var(--delay) * -1);
}

.nauticalbackground-ship .nauticalbackground-body .nauticalbackground-waves .nauticalbackground-oarwaves .nauticalbackground-wave .nauticalbackground-graphic {
    width: var(--width);
    height: var(--height);
}

/* Oars */
.nauticalbackground-ship .nauticalbackground-oars {
    position: absolute;
    left: 50px;
    top: -30px;
    transform: translateZ(10px);
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-graphic {
    width: 3px;
    height: 40px;
    background-color: #d9845d;
    position: relative;
    animation: nauticalbackground-oarGraphic 1s ease-in-out infinite alternate;
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-graphic::before {
    content: "";
    width: 9px;
    height: 15px;
    background-color: #d9845d;
    position: absolute;
    left: -3px;
    top: 0;
    border-radius: 5px 5px 100% 100%;
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-oar {
    position: absolute;
    left: 50%;
    top: 0;
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-oar.nauticalbackground-right {
    transform-origin: 50% 45px;
    transform: scaleY(-1);
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-row {
    transform-origin: 50% 35px;
    animation: nauticalbackground-row 1s ease-in-out infinite alternate;
}

.nauticalbackground-ship .nauticalbackground-oars .nauticalbackground-depth {
    transform-origin: 50% 35px;
    animation: nauticalbackground-depth 1s ease-in-out infinite alternate;
    animation-delay: -500ms;
}

/* Animations */
@keyframes nauticalbackground-surface {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
    25% {
        border-radius: 65% 35% 51% 49%/49% 52% 48% 51%;
    }
    50% {
        border-radius: 42% 58% 28% 72%/65% 34% 66% 35%;
    }
    75% {
        border-radius: 34% 66% 63% 37%/77% 38% 62% 23%;
    }
    100% {
        border-radius: 24% 76% 72% 28%/53% 68% 32% 47%;
    }
}

@keyframes nauticalbackground-rotateZ {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes nauticalbackground-ship {
    0% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(-20deg);
    }
}

@keyframes nauticalbackground-hat {
    0% {
        transform: translateZ(30px) translateX(-5px) rotateY(-20deg);
    }
    100% {
        transform: translateZ(30px) translateX(0) rotateY(20deg);
    }
}

@keyframes nauticalbackground-wave {
    0% {
        transform: translateX(0) scale(0);
    }
    10% {
        transform: translateX(-10px) scale(1);
    }
    100% {
        transform: translateX(-130px) scale(0);
    }
}

@keyframes nauticalbackground-oarGraphic {
    0% {
        transform: rotateY(-60deg);
    }
    100% {
        transform: rotateY(-110deg);
    }
}

@keyframes nauticalbackground-row {
    0% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(-50deg);
    }
}

@keyframes nauticalbackground-depth {
    0% {
        transform: rotateX(-20deg);
    }
    100% {
        transform: rotateX(30deg);
    }
}