.reporttimer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    transform-origin: center;
    height: 30px;
    /* 抵消缩放带来的空白 */
   margin: -25px 0;

}

.reporttimer {
    display: flex;
}

/* Clock divider */
.reporttimer .reporttimer-divider {
    font-size: 66px;
    line-height: 102px;
    font-style: normal;
    /* color: rgb(51, 50, 50); */
     color: rgb(255, 255, 255);
}

/* Flip card */
.reporttimer .reporttimer-flip {
    position: relative;
    width: 60px;
    height: 100px;
    margin: 2px;
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    background: rgb(46, 45, 45);
    border: 1px solid rgb(34, 33, 33);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.5);
}

/* Digital numbers */
.reporttimer .reporttimer-flip .reporttimer-digital::before,
.reporttimer .reporttimer-flip .reporttimer-digital::after {
    position: absolute;
    content: attr(data-number);
    left: 0;
    right: 0;
    color: white;
    background: rgb(51, 50, 50);
    overflow: hidden;
    -webkit-perspective: 160px;
    perspective: 160px;
}

/* Top half of the flip */
.reporttimer .reporttimer-flip .reporttimer-digital::before {
    top: 0;
    bottom: 50%;
    border-bottom: 1px solid #666;
    border-radius: 10px 10px 0 0;
}

/* Bottom half of the flip */
.reporttimer .reporttimer-flip .reporttimer-digital::after {
    top: 50%;
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 10px 10px;
}

.reporttimer .reporttimer-flip .reporttimer-back::before,
.reporttimer .reporttimer-flip .reporttimer-front::after {
    z-index: 1;
}

.reporttimer .reporttimer-flip .reporttimer-back::after {
    z-index: 2;
}

.reporttimer .reporttimer-flip .reporttimer-front::before {
    z-index: 3;
}

.reporttimer .reporttimer-flip .reporttimer-back::after {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotateX(0.5turn);
    transform: rotateX(0.5turn);
}

.reporttimer .reporttimer-flip.reporttimer-running .reporttimer-front::before {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: reporttimer-frontFlipDown 0.6s ease-in-out;
    animation: reporttimer-frontFlipDown 0.6s ease-in-out;
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.reporttimer .reporttimer-flip.reporttimer-running .reporttimer-back::after {
    -webkit-animation: reporttimer-backFlipDown 0.6s ease-in-out;
    animation: reporttimer-backFlipDown 0.6s ease-in-out;
}

@-webkit-keyframes reporttimer-frontFlipDown {
    to {
        -webkit-transform: rotateX(0.5turn);
        transform: rotateX(0.5turn);
    }
}

@keyframes reporttimer-frontFlipDown {
    to {
        -webkit-transform: rotateX(0.5turn);
        transform: rotateX(0.5turn);
    }
}

@-webkit-keyframes reporttimer-backFlipDown {
    to {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes reporttimer-backFlipDown {
    to {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}