.sakura-container {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
 
 
    /* background: radial-gradient(circle at 90% 10%, 
    #5d5a61 0%,       
    #5d5a61 40%,    
    #515053b4 70%,   
    #5d5a61 100%); */   

  }  
  
  .sakura-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .sakura-container .btnbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .sakura-container .btnbg > div {
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    position: absolute;
    text-align: center;
  }
  
  .sakura-container .btnbg span {
    font-size: 70px;
    display: block;
  }
  
  .sakura-container .btnbg p {
    font-size: 40px;
    margin-top: 20px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .sakura-container .btnbg span {
      font-size: 40px;
    }
    
    .sakura-container .btnbg p {
      font-size: 24px;
    }
  }