:root {
    --border-radius: 4px;
    --font-size: 14px;
    --border: 1px;
     /*内边距*/
    --padding: 5px 8px;
    /* 项目之间的间距 */
    --gap: 5px;
    --min-height: 36px;
     /* 完整的阴影值 */
    --shadow-default: 0 2px 4px var(--shadow_color);
    --shadow-hover: 0 4px 8px var(--hover_shadow_color);
    --shadow-focus: 0 0 0 3px var(--focus_shadow_color);
     --font-weight: 500;
}